* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #12022f;

  color: #551e53;
  height: 80%;
  width: 80%;
}

@media (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #12022f;

    color: #551e53;
    height: 95%;
    width: 95%;
  }
}
